@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Roboto',sans-serif;
}
h1,h2,h3 .poppins{
    font-family: 'Poppins', sans-serif;
}